*

!checkpoints
!checkpoints/.gitkeep

!data
!data/assets
!data/assets/teaser.png
!data/assets/preprint.pdf
!data/fonts
!data/fonts/train
!data/fonts/train/.gitkeep
!data/fonts/val
!data/fonts/val/.gitkeep
!data/raw_files
!data/raw_files/*

!iffont
!iffont/**
__pycache__

!vqgan-logs
!vqgan-logs/.gitkeep

!.gitignore
!environment.yaml
!LICENSE
!README.md
!requirements.txt
